@font-face {
  font-family: "Beyonders";
  src: url(../Font/Beyonders.ttf) format("truetype");
}

body {
  background-color: rgb(161, 161, 161);
  margin: 0;
}

header {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgb(71, 71, 71);
  font-family: Beyonders;
  font-size: larger;
}

#menu {
  position: sticky;
  top: 0;
  font-family: Beyonders;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  background-color: #808080;
  border-radius: 0px 0px 20px 20px;
  width: 100%;
}

#menu div a {
  text-decoration: nrgb(36, 35, 35);
}

.menu_box {
  background-color: white;
  border-radius: 15px ;
  text-align: center;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu_box a {
  padding: 10px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}
.menu_box:hover {
  background-color: #808080;
}

.menu_box a:hover {
  color: white;
}

#balisong_anatomy {
  margin: auto;
  display: flex;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  background-color: black;
  height: 100px;
  color: white;
}

footer ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

a {
  color: darkred;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  #menu {
    font-size: 0.75rem;
  } 
  .content {
    font-size: 1rem ;
  }
  #menu > ul {
    border-radius: 0px 0px 13px 13px;
  }
}