@font-face {
  font-family: "Beyonders";
  src: url(../Font/Beyonders.ttf) format("truetype");
}

body {
  background-color: lightblue;
  margin: 0;
}

header {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: rgb(71, 71, 71);
  font-family: Beyonders;
  font-size: larger;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  background-color: #808080;
  width: 100%;
}

#menu div a {
  text-decoration: nrgb(36, 35, 35);
}

.menu_box {
  background-color: white;
  text-align: center;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.menu_box a {
  padding: 10px;
  text-decoration: none;
  color: black;
}
.menu_box:hover {
  background-color: #808080;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 0.75rem;
  }
}

#content {
  margin: auto;
  display: block;
  width: 95%;
  background-color: antiquewhite;
  font-family: "Inter", sans-serif;
}

#balisong_anatomy {
  margin: auto;
  display: flex;
  width: 100%;
}

.main_text {
  text-align: center;
}